//.modal-backdrop--transparent {
//  background: transparent;
//}

.notifications {
    .modal-dialog {
        position: absolute;
        top: 70px;
        right: 0;
        width: 435px;
        margin: 0;
        height: calc(100vh - 70px);
    }

    .modal-body {
        padding: 0;
    }
}

.notifications__item--new {
    background: #fef4f5;
}

.notifications__date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #474747;
}

.notifications__close-button {
    &:focus {
        outline: none;
    }
}
