.password-change {
    padding-bottom: 0;
    min-height: 400px;

    label {
        width: 116px;
        margin-right: 9px;
    }

    .password__field {
        padding-right: 125px;

        @media (max-width: $tablet-width) {
            padding-right: 0;
        }
    }

    //.auth__input {
    //  &::placeholder {
    //    display: none;
    //  }
    //}
    .password-new__submit {
        margin-bottom: 43px;
    }
}
