.password {
    padding-top: 40px;
    margin-top: 44px !important;

    @media (max-width: $tablet-width) {
        margin-top: 0 !important;
        padding-top: 51px;
    }

    label {
        width: 50px;
        margin-right: 20px;
    }

    input {
        width: 281px;
        border-width: 2px;
    }

    h2 {
        max-width: 280px;
        text-align: center;
        line-height: 22px;
        margin-bottom: 13px;
    }

    h2.password-new__title {
        margin-bottom: 36px;
    }

    button {
        width: 287px;
    }
}

.password__field {
    padding-right: 70px;
    margin-bottom: 24px;

    @media (max-width: $tablet-width) {
        padding-right: 0;
        width: 100%;
    }
}

.password-new__field {
    margin-bottom: 12px;
}

.password-new__submit {
    margin-top: 25px;
}
