.registration {
    .input-underline {
        width: 275px;
    }
}

.registration__back-button {
    left: -70px;
    top: 15px;
}

.registration__button {
    width: 275px;
}


.registration__fields {
    padding-right: 60px;

    label {
        width: 60px;
    }
}
