.registration {

  .input-underline {
    width: 275px;
  }
}

.registration__back-button {
  left: -70px;
  top: 15px;
}

.registration__button {
  width: 275px;
}

.registration__subscribing {
  max-width: 369px;
  text-align: center;
}

.registration__fields {
  padding-right: 60px;

  label {
    width: 60px;
  }
}
