.sidebar {
    //width: 22%;
    //min-width: 270px;
    //box-shadow: 0px 10px 30px rgba(71, 71, 71, 0.1);
    min-height: calc(100vh - 135px);

  @media (max-width: $desktop-width) {
    width: 100%;
    min-height: auto;
    margin-bottom: 20px;
  }
}

.sidebar__social {
    margin-right: 15px;
}

.sidebar__social--ok {
    background-image: url("../img/icon-ok.svg");
    width: 12px;
    height: 19px;
}

.sidebar__social--youtube {
    background-image: url("../img/icon-youtube.svg");
    width: 28px;
    height: 19px;
}

.sidebar__social--vk {
    background-image: url("../img/icon-vk.svg");
    width: 35px;
    height: 19px;
}

.sidebar__value {
    color: $light-grey;
    margin-left: 5px;
}

.sidebar__sections {
    display: flex;
    flex-direction: column;
}
