header.header.container
  .navbar.flex.flex-row
    a(href="#")
      img(src="img/logo.svg" alt="logo")
    ul.navbar-nav.d-flex.flex-row.align-items-center.w-75.ml-auto
      li.nav-item
        input.input-search.form-control.form-control-plaintext.w-30.rounded-0(type="search" placeholder="Поиск" aria-label="Поиск")
      li.nav-item.ml-auto.mr-4
        a.header__icon.header__icon--messages.d-block.text-hide(href="#") Сообщения
      li.nav-item.mr-4
        a.header__icon.header__icon--notifications.d-block.text-hide(href="#") Уведомления
      li.nav-item.ml-8
        a.header__user.d-block.rounded-circle.overflow-hidden(href="")
          img(src="img/userpic.jpg")
