header.header.container-lg.p-lg-0
  .navbar.flex.flex-row.px-0
    ul.header__nav.navbar-nav.d-flex.flex-row.align-items-center.w-100
      li.header__logo.nav-item.left-column.mr-auto.mr-md-0
        a(href="#")
          img(src="img/logo.svg" alt="logo")
      li.nav-item.header__search-input.ml-md-auto.ml-lg-0.position-relative
        input.input-search.form-control.form-control-plaintext.rounded-0(type="search" placeholder="Поиск" aria-label="Поиск")
        .list-group.header__search-list.rounded-0
          .list-group-item.border-top-0.rounded-0
            h2 UX дизайн форума ТРОН
            .thread__author.d-flex
              span.font-size-12.d-none.d-md-block Автор
              .d-flex.flex-row.ml-10.flex-md-column
                span.font-size-14.order-1.order-md-0 13.03.2020 15:10
                span.font-size-14.mr-2.mr-md-0 Константин Двугрошев

          .list-group-item.border-top-0.rounded-0
            h2 UX дизайн форума ТРОН
            .thread__author.d-flex
              span.font-size-12.d-none.d-md-block Автор
              .d-flex.flex-row.ml-10.flex-md-column
                span.font-size-14.order-1.order-md-0 13.03.2020 15:10
                span.font-size-14.mr-2.mr-md-0 Константин Двугрошев
      li.nav-item.mr-30.ml-auto
        a.header__icon.header__icon--messages.header__icon--new.d-block.text-hide(href="#") Сообщения
      li.nav-item.mr-60.header__notification
        button.header__icon.header__icon--notifications.header__icon--new.d-block.text-hide(data-toggle="modal" data-target="#modalNotifications") Уведомления
      li.nav-item.ml-8
        a.header__user.d-block.rounded-circle.overflow-hidden(href="#" data-toggle="modal" data-target="#modalUserMenu")
          img(src="img/userpic.jpg")

