extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .registration.white-window.align-items-center.auth-window
      .registration__fields.d-flex.flex-column
        .d-flex.align-items-center
          label(for="email").auth__label E-mail
          input.input-underline.auth__input(type="email" id="email" name="email" placeholder="Адрес электронной почты")
        .d-flex.align-items-center.mb-4.field.registration__field--field
          label(for="password").auth__label Пароль
          input.input-underline.auth__input(type="password" id="password" name="password", placeholder="Пароль")
      button.auth__button.btn.btn-primary.mb-3(type="submit") Войти
      p.registration__or или
      a.btn.btn-underline.registration__sing-up(href="#") Зарегистрироваться
      a.btn.btn-underline.mb-4.registration__forget(href="#") Я забыл пароль

    p.warning.text-danger.mx-auto.mb-5.registration__danger Неверный пароль

block footer
  footer.d-flex.mx-auto.justify-content-center.auth-footer
    a.text-info.footer__link(href="#") Политика конфиденциальности
    a.text-info.footer__link(href="#") Пользовательское соглашение
    a.text-info.footer__link(href="#") Реквизиты
