extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .registration.bg-white.mx-auto.d-flex.flex-column.align-items-center.shadow.rounded.mt-3.p-3.py-5.mb-4(style="max-width: 570px")
      .registration__fields.d-flex.flex-column
        .d-flex.align-items-center
          label(for="email") E-mail
          input.input-underline(type="email" id="email" name="email" placeholder="Адрес электронной почты")
        .d-flex.align-items-center.mb-4
          label(for="password") Пароль
          input.input-underline(type="password" id="password" name="password")
      button.registration__button.btn.btn-primary.mb-3(type="submit") Войти
      p.mb-3 или
      a.btn.btn-underline(href="#") Зарегистрироваться
      a.btn.btn-underline.mb-4(href="#") Я забыл пароль

    p.registration__subscribing.text-danger.mx-auto.mb-5 Текст ошибки тут, закрашивает строки в красный
    .d-flex.mx-auto.justify-content-center
        a.text-info.mx-2(href="#") Политика конфиденциальности
        a.text-info.mx-2(href="#") Пользовательское соглашение
        a.text-info.mx-2(href="#") Реквизиты

