extends common/layout

block header
  include common/header

block content
  main.main.container.pt-5
    .row.ml-0.px-3.justify-content-between
      .sidebar
        .sidebar__sections.bg-white.rounded-lg.shadow-sm
          .list-group
            input.input-search.form-control.form-control-plaintext.rounded-0.list-group-item.mb-0.border-bottom.border-top-0.border-left-0.border-right-0(type="text" placeholder="Поиск людей")
            ul.sidebar__chats.chats.list-group-item.nav.flex-column.border-0
              li.chats__item.d-flex
                a.chats__link.d-block.rounded-circle.overflow-hidden(href="")
                  img(src="img/userpic.jpg")
                p Константин Двугрошев

      .content.w-75
