extends common/layout

block header
  include common/header-small

block content
  main.main
    .container.text-center
      a.d-block(href="main.html") Главная
      a.d-block(href="registration.html") Регистрация
      a.d-block(href="mail-confirmation.html") Подтверждение почты
      a.d-block(href="name.html") Имя + фамилия
      a.d-block(href="beginning.html") Начало сценария
