extends common/layout

block header
  include common/header-small

block content
  main.main
    .container.text-center
      //button.btn.btn-lg.btn-danger(type='button' data-toggle='popover' title='Popover title' data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
      a.d-block(href="main.html") Главная
      a.d-block(href="registration.html") Регистрация
      a.d-block(href="mail-confirmation.html") Подтверждение почты
      a.d-block(href="name.html") Имя + фамилия
      a.d-block(href="beginning.html") Начало сценария
      a.d-block(href="paid.html") Оплата прошла
      a.d-block(href="not-paid.html") Оплата не прошла
      a.d-block(href="password.html") Забыли пароль 1
      a.d-block(href="password-new.html") Забыли пароль 2
      a.d-block(href="chat.html") Чат
      a.d-block(href="chat2.html") Беседа
      a.d-block(href="chat3.html") Настройки беседы
      a.d-block(href="chat4.html") Создание беседы
