extends common/layout

block header
  include common/header-small

block content
  main.main
    .container.text-center
      a.d-block(href="main.html") Главная
      a.d-block(href="main-not-paid.html") Главная не оплачена
      a.d-block(href="main-not-paid-2.html") Другая главная не оплачено + попап
      a.d-block(href="main-not-paid-3.html") Другая главная не оплачено + попап "проверьте данные"
      a.d-block(href="registration.html") Регистрация
      a.d-block(href="mail-confirmation.html") Подтверждение почты
      a.d-block(href="name.html") Имя + фамилия
      a.d-block(href="beginning.html") Начало сценария
      a.d-block(href="paid.html") Оплата прошла
      a.d-block(href="not-paid.html") Оплата не прошла
      a.d-block(href="password.html") Забыли пароль 1
      a.d-block(href="password-new.html") Забыли пароль 2
      a.d-block(href="password-change.html") Смена пароля
      a.d-block(href="chat.html") Чат
      a.d-block(href="chat2.html") Беседа
      a.d-block(href="chat3.html") Настройки беседы
      a.d-block(href="chat4.html") Создание беседы
      a.d-block(href="thread.html") Читать тред (+карма +жалоба)
      a.d-block(href="thread-new.html") Создание темы + модалка "успешно опубликовано"
      a.d-block(href="listing.html") Листинг
