extends common/layout

mixin alphabet(letter)
  a.listing__letter.text-center.text-info(href="#") #{letter}

block header
  include common/header-left


block content
  main.main.container.position-relative.mt-0.v2-main
    .v2-listing-header
      button.back-button.btn.text-info.d-flex.p-0.align-items-center.v2-listing__back-button
          img(src="img/icon-back.svg")
          span.v2-listing__back-button-desktop Вернуться на главную
          span.v2-listing__back-button-mobile На главную
      input.listing__search.v2-listing__search.input-underline.input-search(type='search', placeholder='Поиск', aria-label='Поиск')

      .v2-listing__filters
        button.v2-listing__filter
          img(src="img/icon-filter-button.svg" width='17' height='10')
          span Фильтрация
        button.v2-listing__city-filter
          span Город
          img(src="img/icon-dropdown-tick.svg" width='9' height='5')
        button.v2-listing__filter-off Сбросить фильтрацию


    .listing.v2-listing.d-flex.position-relative.mx-auto.rounded
      .listing__content.d-flex.flex-column.v2-listing__content
        .listing__wrapper(data-simplebar)
          ul.listing__cities.list-unstyled
            li.listing__city
              .listing__city-name.v2-listing__city-name
                h2 Краснодар
              ul.v2-listing__city-people.list-unstyled
                li
                  a(href="#") Петренко Федор
            li.listing__city
              .listing__city-name.v2-listing__city-name
                h2 Верхняя Пышма, Свердловская область
              ul.v2-listing__city-people.list-unstyled
                li
                  a(href="#") Трунов Юрий
            li.listing__city
              .listing__city-name.v2-listing__city-name
                h2 Москва
              ul.v2-listing__city-people.list-unstyled
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов
            li.listing__city
              .listing__city-name.v2-listing__city-name
                h2 Махачкала
              ul.v2-listing__city-people.list-unstyled
                li
                  a(href="#") Сергей Юрьевич Агафонов
                li
                  a(href="#") Сергей Юрьевич Агафонов

