extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .registration.white-window.align-items-center.mt-3.mb-4
      h2 Активируйте аккуант
      p.text-center Мы отправили на почту {mail@mail.com} письмо с <br> подтверждением, перейдите по ссылке и окунитесь в мир ТРОНа
      p Не получили письмо?
      p Проверьте папку Спам
      button.btn.btn-underline Отправить повторно
    p.warning.text-danger.mt-5.mx-auto.d-block на почте письмо с сылью, нажми сюда
