extends common/layout

block header
  include common/header

block content
  main.main.container-lg
    .d-flex.ml-0.justify-content-between.content-wrapper
      .sidebar.left-column.swiper-container
        .swiper-wrapper
          .swiper-slide
            .sidebar__sections.rounded-lg
              .d-flex.flex-column
                h2.mb-0.border-bottom Разделы
                ul.sidebar__sections-list.nav.border-0
                  li.sidebar__section.mb-2
                    a.text-info(href="#") Финансы
                      span.sidebar__value 223
                  li.sidebar__section.mb-2
                    a.text-info(href="#") ПОЛО
                      span.sidebar__value 223
                  li.sidebar__section.mb-2
                    a.text-info(href="#") ТРОН
                      span.sidebar__value 223
                  li.sidebar__section.mb-2
                    a.text-info(href="#") Инвестиции
                      span.sidebar__value 223
                  li.sidebar__section.mb-2
                    a.text-info(href="#") Мои темы
                      span.sidebar__value 1
                  li.sidebar__all.pt-4
                    a.btn-underline(href="#") Все темы
          .swiper-slide
            .sidebar__info.rounded-lg
              a.sidebar__section.text-info.mb-2(href="") Помощь
              a.sidebar__section.text-info.mb-2(href="") Документы
              ul.nav.mb-3
                li
                  a.sidebar__social.sidebar__social--ok.text-hide(href="#")
                    img(src="img/icon-ok.svg" width="12" height="19")
                li
                  a.sidebar__social.sidebar__social--youtube.text-hide(href="#")
                    img(src="img/icon-youtube.svg" width="28" height="19")
                li
                  a.sidebar__social.sidebar__social--vk.text-hide(href="#")
                    img(src="img/icon-vk.svg" width="35" height="19")
              span.sidebar__18 18+

          .sidebar__subscription.bg-white.rounded-lg.nav.flex-column.px-3.mt-4.pt-2.swiper-slide
            p.text-danger Подписка заканчивается через 8 дней
            a.btn-underline.d-block Продлить

      .content.right-column
        ul.content__tabs.nav.nav-tabs.mr-3
          li.nav-item
            a.nav-link.active.px-0(href="#") Популярное
          li.nav-item
            a.nav-link(href="#") Новые
          li.nav-item.ml-auto.px-0
            a.nav-link.px-0(href="#") Слежу

        .content__chats
          a.content__chat.chat-card.d-flex.rounded-lg.shadow-sm.mb-4(href="#")
            .chat-card__avatar.rounded-circle.font-size-14ck.overflow-hidden
              img(src="img/userpic.jpg" alt="Аватарка пользователя")
            .chat-card__center.d-flex.flex-wrap
              h2.chat-card__title.text-info.w-100 UX дизайн форума ТРОН
              .d-flex.chat-card__chat-author
                .chat-card__pic.rounded-circle.overflow-hidden
                  img(src="img/userpic.jpg")
                p.chat-card__word-author.mr-2.font-size-12 Автор
                .chat-card__author-info.mr-4.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
              .d-flex.chat-card__last-message
                p.chat-card__word-last.mr-2.font-size-12 Последнее
                .d-block.mr-2.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
            .chat-card__new-messages.d-flex.flex-column.ml-auto
              table.content__table.table.table-borderless
                tr.content__first-tr
                  td.chat-card__table-left
                    span.d-block.font-size-20.font-weight-bold 3434
                  td.content__word-messages.chat-card__table-right
                    span.d-block.font-size-12 Сообщений
                tr.chat-card__new-messages-count.chat-card__table-right
                  td.chat-card__table-left
                    span.mr1.font-size-20.text-danger.font-weight-bolder +1
                  td.chat-card__table-right.chat__card--word-new
                    span.text-danger.font-size-12 Новое
              button.btn.btn-underline.mt-auto.ml-auto Следить

          a.content__chat.chat-card.d-flex.rounded-lg.shadow-sm.mb-4(href="#")
            .chat-card__avatar.rounded-circle.font-size-14ck.overflow-hidden
              img(src="img/userpic.jpg" alt="Аватарка пользователя")
            .chat-card__center.d-flex.flex-wrap
              h2.chat-card__title.text-info.w-100 UX дизайн форума ТРОН
              .d-flex.chat-card__chat-author
                .chat-card__pic.rounded-circle.overflow-hidden
                  img(src="img/userpic.jpg")
                p.chat-card__word-author.mr-2.font-size-12 Автор
                .chat-card__author-info.mr-4.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
              .d-flex.chat-card__last-message
                p.chat-card__word-last.mr-2.font-size-12 Последнее
                .d-block.mr-2.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
            .chat-card__new-messages.d-flex.flex-column.ml-auto
              table.content__table.table.table-borderless
                tr.content__first-tr
                  td.chat-card__table-left
                    span.d-block.font-size-20.font-weight-bold 3434
                  td.content__word-messages.chat-card__table-right
                    span.d-block.font-size-12 Сообщений
                tr.chat-card__new-messages-count
                  td.chat-card__table-left
                    span.mr1.font-size-20.text-danger.font-weight-bolder +1
                  td.chat-card__table-right.chat__card--word-new
                    span.text-danger.font-size-12 Новое
              button.btn.btn-underline.mt-auto.ml-auto Следить


          a.content__chat.chat-card.d-flex.rounded-lg.shadow-sm.mb-4(href="#")
            .chat-card__avatar.rounded-circle.font-size-14ck.overflow-hidden
              img(src="img/userpic.jpg" alt="Аватарка пользователя")
            .chat-card__center.d-flex.flex-wrap
              h2.chat-card__title.text-info.w-100 UX дизайн форума ТРОН
              .d-flex.chat-card__chat-author
                .chat-card__pic.rounded-circle.overflow-hidden
                  img(src="img/userpic.jpg")
                p.chat-card__word-author.mr-2.font-size-12 Автор
                .chat-card__author-info.mr-4.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
              .d-flex.chat-card__last-message
                p.chat-card__word-last.mr-2.font-size-12 Последнее
                .d-block.mr-2.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
            .chat-card__new-messages.d-flex.flex-column.ml-auto
              table.content__table.table.table-borderless
                tr.content__first-tr
                  td.chat-card__table-left
                    span.d-block.font-size-20.font-weight-bold 3434
                  td.content__word-messages.chat-card__table-right
                    span.d-block.font-size-12 Сообщений
                tr.chat-card__new-messages-count
                  td.chat-card__table-left
                    span.mr1.font-size-20.text-danger.font-weight-bolder +1
                  td.chat-card__table-right.chat__card--word-new
                    span.text-danger.font-size-12 Новое
              button.btn.btn-underline.mt-auto.ml-auto Следить


          a.content__chat.chat-card.d-flex.rounded-lg.shadow-sm.mb-4(href="#")
            .chat-card__avatar.rounded-circle.font-size-14ck.overflow-hidden
              img(src="img/userpic.jpg" alt="Аватарка пользователя")
            .chat-card__center.d-flex.flex-wrap
              h2.chat-card__title.text-info.w-100 UX дизайн форума ТРОН
              .d-flex.chat-card__chat-author
                .chat-card__pic.rounded-circle.overflow-hidden
                  img(src="img/userpic.jpg")
                p.chat-card__word-author.mr-2.font-size-12 Автор
                .chat-card__author-info.mr-4.font-size-14

                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
              .d-flex.chat-card__last-message
                p.chat-card__word-last.mr-2.font-size-12 Последнее
                .d-block.mr-2.font-size-14
                  p.mb-0 Константин Двугрошев
                  p.mb-0 13.03.2020 15:10
            .chat-card__new-messages.d-flex.flex-column.ml-auto
              table.content__table.table.table-borderless
                tr.content__first-tr
                  td.chat-card__table-left
                    span.d-block.font-size-20.font-weight-bold 3434
                  td.content__word-messages.chat-card__table-right
                    span.d-block.font-size-12 Сообщений
                tr.chat-card__new-messages-count
                  td.chat-card__table-left
                    span.mr1.font-size-20.text-danger.font-weight-bolder +1
                  td.chat-card__table-right.chat__card--word-new
                    span.text-danger.font-size-12 Новое
              button.btn.btn-underline.mt-auto.ml-auto Следить

