extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .registration.white-window.align-items-center.mt-3.mb-4
      h2 Аккаунт активирован!
      p Как вас зовут?
      input.input-underline(type="text" placeholder="Имя")
      input.input-underline(type="text" placeholder="Фамилия")
      input.input-underline.mb-5(type="text" placeholder="Город")
      button.registration__button.btn.btn-primary(type="submit") Сохранить
