extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .paid.white-window.align-items-center.mt-3.mb-4
      .status-icon.status-icon--false.mb-3
      h2.mb-2 Оплата не прошла
      p По какой то причине оплата не прошла
      a.btn.btn-primary.mb-9(href="#") Попробовать снова
