extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .password.white-window.align-items-center.mt-3.mb-4.auth-window
      h2.password-new__title Укажите пароль из письма
      .password__field.d-flex.align-items-center.password-new__field
        label(for="email").auth__label E-mail
        input.input-underline.auth__input(type="email" id="email" name="email" placeholder="Адрес электронной почты")
      .password__field.d-flex.align-items-center.password-new__field
        label(for="password").auth__label
        input.input-underline.auth__input(type="password" id="password" name="password" placeholder="Пароль из письма")

      button.btn.btn-primary.auth__button.password-new__submit(type="submit") Отправить
    p.warning.text-danger.mx-auto.mb-5.registration__danger Неверный пароль
