extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .password.password-change.white-window.align-items-center.mt-3.mb-4.auth-window
      h2.password-new__title Сменить пароль
      .password__field.d-flex.align-items-center.password-new__field
        label(for="old").auth__label Старый пароль
        input#old.input-underline.auth__input(type="password" name="old-password" placeholder="Старый пароль")
      .password__field.d-flex.align-items-center.password-new__field
        label(for="new").auth__label.text-danger Новый пароль
        input#new.input-underline.auth__input.password-change__new.text-danger(type="password" name="old-password" placeholder="Новый пароль")
      .password__field.d-flex.align-items-center.password-new__field
        label(for="new-repeat").auth__label.text-danger Новый пароль
        input#new-repeat.input-underline.auth__input.password-change__new.text-danger(type="password" name="old-password" placeholder="Новый пароль")

      button.btn.btn-primary.auth__button.password-new__submit(type="submit") Сменить
      button.btn.btn-underline.w-auto Отменить
    p.warning.text-danger.mx-auto.mb-5.registration__danger Неверный пароль
