extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .password.white-window.align-items-center.mt-3.mb-4.auth-window
      h2 Укажите адрес электронной почты и мы отправим новый пароль
      .password__field.d-flex.align-items-center
        label(for="email").auth__label E-mail
        input.input-underline.auth__input(type="email" id="email" name="email" placeholder="Адрес электронной почты")

      button.btn.btn-primary.auth__button(type="submit") Отправить пароль
    p.warning.text-danger.mx-auto.mb-5.registration__danger Неверный пароль
