extends common/layout

block header
  include common/header-small

block content
  main.main.container
    .password.white-window.align-items-center.mt-3.mb-4
      h2.mb-4 Укажите адрес электронной почты и мы отправим новый пароль
      .password__field.d-flex.align-items-center.mb-5
        label(for="email") E-mail
        input.input-underline(type="email" id="email" name="email" placeholder="Адрес электронной почты")

      button.btn.btn-primary(type="submit") Отправить пароль
