extends common/layout

block header
  include common/header

block content
  main.main.container-lg.p-0.pt-40
    .main__wrapper.d-flex.ml-0.justify-content-between
      .sidebar.left-column
        a.sidebar__back-button.d-flex.text-info.align-items-center(href="#")
          img(src="img/icon-back.svg" width="30" height="5")
          span.ml-2 вернуться к списку

      .content.thread.right-column.d-flex.flex-column
        .thread__main.bg-white.d-flex.flex-column
          a.thread__author-pic.d-none.d-md-block.rounded-circle.overflow-hidden(href="#")
            img(src="img/userpic.jpg")
          .thread__head.d-flex.mb-20.align-items-center.flex-wrap.flex-md-nowrap
            h2.thread__title.font-size-20.text-info UX дизайн ПОЛО
            button.thread__options-button.thread__options-button--tablet.btn.d-lg-none.p-0(type="button")
              img(src="img/icon-options.svg" width="19" height="4")
            button.btn.p-0.ml-2.d-none.d-lg-block.align-self-start(type="button")
              img(src="img/icon-edit.svg" width="14" height="14")
            button.btn.p-0.ml-1.text-info.d-none.d-lg-flex.align-self-start.align-items-center(type="button")
              img(src="img/icon-close.svg" width="25" height="25")
              span.lh-16(data-toggle="modal" data-target="#modalComplaintReasons") Пожаловаться

            p.thread__messages.ml-auto.mb-0.lh-16
              span.thread__messages-count.font-size-20 2
              span.thread__new-messages-count.text-danger.font-size-20 +999
              span.thread__desktop-span.ml-1 сообщения
              span.thread__mobile-span Сообщений
          .thread__author.d-flex.mb-45
            a.thread__pic.rounded-circle.overflow-hidden(href="#")
              img(src="img/userpic.jpg")
            span.font-size-12.d-none.d-md-block Автор
            .d-flex.flex-row.ml-10.flex-md-column
              span.font-size-14.order-1.order-md-0 13.03.2020 15:10
              span.font-size-14.mr-2.mr-md-0 Константин Двугрошев
            button.thread__options-button.thread__options-button--mobile.btn.d-lg-none.p-0.ml-30(type="button")
              img(src="img/icon-options.svg" width="19" height="4")
          p.thread__text.mb-20 Тут может быть текстовое описание треда. Пользователь самостоятельно пишет текст, который будет обязательно виден при первом открытие темы, но с возможностью свернуть его. При повторных открытиях текст будет свернут, но с возможностью открыть его  Так же можно приаттачить файлы Ширина текстового контейнера 600 пикслей
          .thread__files.d-flex
            input.sr-only(type="file" id="add-file" multiple)
            label.thread__add-file(for="add-file")
              img(src="img/icon-add-file.svg" width="15" height="17")
            .d-flex.flex-column
              a.text-info(href="#") Счет на оплату.doc
              a.text-info(href="#") Макет.pdf
              a.text-info(href="#") Файл с безумно длинным названием, котр...
          button.thread__follow.btn.text-info.btn-underline(type="button") Следить
        .thread__write-comment
          textarea(placeholder="написать комментарий")
          button.thread__send-comment.btn.btn-underline Отправить

        .thread__comments
          ul.thread__sort.nav.nav-tabs.align-items-end.mb-20
            li.nav-item
              a.nav-link.active.px-0(href='#') Популярное
            li.nav-item
              a.nav-link(href='#') По порядку
          ul.list-unstyled
            li
              .thread__comment.d-flex.flex-column.bg-white
                a.thread__author-pic.d-block.d-md-block.rounded-circle.overflow-hidden(href="#")
                  img(src="img/userpic.jpg")
                .d-flex.align-items-end.mb-10
                  h2.thread__comment-author.m-0.text-info.font-size-20 Вадим Паясу
                  .thread__karma.karma.d-flex.align-items-center
                    button.karma__down.btn.p-0.text-hide Минус
                    span.karma__number 4
                    button.karma__top.btn.p-0.text-hide Плюс
                  button.btn.p-0.ml-auto.text-info.d-none.d-lg-flex(type="button")
                    span(data-toggle="modal" data-target="#modalComplaintReasons") Пожаловаться
                    img(src="img/icon-close.svg")
                  button.thread__options-button.btn.d-lg-none.ml-auto.p-0.align-self-start(type="button")
                    img(src="img/icon-options.svg" width="19" height="4")
                span.thead__changed.mb-20 Изменено 17.03.2020 16.59
                p.mb-20 Костян, почти все, нужны бабки
                button.btn.btn-underline Ответить
              ul.thread__comments-list-sub.list-unstyled
                li
                  .thread__comment.d-flex.flex-column
                    a.thread__author-pic.d-block.rounded-circle.overflow-hidden(href="#" data-toggle="modal" data-target="#modalUser")
                      img(src="img/userpic.jpg")
                    .d-flex.align-items-end.mb-10
                      h2.thread__comment-author.m-0.text-info.font-size-20 Константин Двугрошев
                      span.thread__author-span.mb-0.ml-2 Автор
                      button.btn.p-0.ml-2.d-none.d-lg-block(type="button")
                        img(src="img/icon-edit.svg" width="14" height="14")
                      button.thread__options-button.btn.d-lg-none.ml-auto.p-0.align-self-start(type="button")
                        img(src="img/icon-options.svg" width="19" height="4")
                    span.thead__changed.mb-20 Изменено 17.03.2020 16.59
                    p.mb-20 <a href="#" class="text-info"> Вадим</a>, денег не будет
                    button.btn.btn-underline Ответить
          .thread__write-comment
            textarea(placeholder="написать комментарий")
            button.thread__send-comment.btn.btn-underline Отправить
        a.thread__scroll-top.d-none.d-lg-block(href="#")
          img(src="img/icon-top-scroll.svg" width="100" height="100")





  #modalUser.modal.user.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.btn.user__close-button(type='button', data-dismiss='modal', aria-label='Close')
            img(src="img/icon-close-modal.svg" width="16" height="16")
          .d-flex
            a.user__user-pic.d-block.rounded-circle.overflow-hidden.mb-20(href="#")
              img(src="img/userpic.jpg" width="100" height="100")
            .user__user-header.d-flex.flex-column
              h2.user__user-name Константин Двугрошев
              p.user__user-position Маркетолог
              a.user__begin-chat.text-info.mb-20(href="#") Начать диалог
        .modal-body.d-flex.flex-column.align-items-center
          p.user__user-info Гениальный изобретатель, муж Верналии Лодж и богатейший промышленник с репутацией плейбоя.Гениальный изобретатель, муж Верналии Лодж и богатейший промышленник с репутацией плейбоя.Гениальный изобретатель, муж Верналии Лодж и богатейший промышленник с репутацией плейбоя.
          .user__user-statistic.d-flex
            .user__posts-count
              h2 Посты
              p 32
            .user__answers-count
              h2 Ответы
              p 32


  #modalComplaint.modal.published.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body.d-flex.flex-column.align-items-center
          button.btn.user__close-button(type='button', data-dismiss='modal', aria-label='Close')
            img(src="img/icon-close-modal.svg" width="16" height="16")
          h2 Жалоба успешно отправлена
          img(src="img/icon-done.svg" width="80" height="80")

  #modalComplaintReasons.modal.complaint.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body.d-flex.flex-column.align-items-center
          h2 Причины жалобы
          ul.list-unstyled
            li
              input#spam(type="radio" name="Complaint")
              label.complaint__label(for="spam") Спам

            li
              input#affront(type="radio" name="Complaint")
              label.complaint__label(for="affront") Оскорбление

            li
              input#propaganda(type="radio" name="Complaint")
              label.complaint__label(for="propaganda") Пропаганда

            li
              input#violence(type="radio" name="Complaint")
              label.complaint__label(for="violence") Насилие

            li
              input#another(type="radio" name="Complaint")
              label.complaint__label(for="another") Хочу удалить

