extends common/layout

block header
  include common/header

block content
  main.main.container-lg.p-0.pt-40
    .main__wrapper.d-flex.ml-0.justify-content-between
      .sidebar.left-column
        a.sidebar__back-button.d-flex.text-info.align-items-center.mb-20(href="#")
          img(src="img/icon-back.svg" width="30" height="5")
          span.ml-2 назад
        p.sidebar__exit-warning.text-light-grey При выходе со страницы неопубликованный текст будет удален
        .sidebar__my-themes.rounded.d-flex
          a.text-info(href="#") Мои темы
          span.text-grey.ml-10 1

      .content.right-column.thread-new.bg-white.rounded.d-flex-flex-column.shadow.position-relative
        h2 Название
        input#title.input-underline.w-100(type="text" placeholder="Начните вводить название..")
        p.text-light-grey.mb-30 Чтобы вам было удобно читать, пожалуйста, уместите название в одну строку
        h2 Описание
        input#description.input-underline.w-100(type="text" placeholder="Введите описание")
        p.text-light-grey Тут можно полностью описать вашу тему
        h2 Выберите раздел
        .btn-group.input-underline.p-0
          button.thread-new__section.btn.p-0(type='button') Action
          button.btn.dropdown-toggle.dropdown-toggle-split(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.sr-only Toggle Dropdown
          .dropdown-menu
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            a.dropdown-item(href='#') Something else here
            .dropdown-divider
            a.dropdown-item(href='#') Separated link
        h2 Прикрепите файлы
        p.text-light-grey Можно прикрепить документы и фотографии
        input#file.sr-only(type="file" multiple)
        label(for="file")
          img(src="img/icon-add-file-blue.svg" width="31" height="31")
        button.thread-new__send-button.btn.btn-underline(data-toggle="modal" data-target="#modalPublished") Опубликовать







  #modalPublished.modal.published.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body.d-flex.flex-column.align-items-center
          button.btn.user__close-button(type='button', data-dismiss='modal', aria-label='Close')
            img(src="img/icon-close-modal.svg" width="16" height="16")
          h2 Успешно опубликовано
          img(src="img/icon-done.svg" width="80" height="80")

