$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-wrapper: 1200px;

$helvetica-neue: "Helvetica Neue", "Arial", sans-serif;

$btn-blue: #053694;
$red: #f5272f;
$dark-grey: #363636;
$light-grey: #7e7e7e;
$grey-text: #474747;
$white-opacity: #fbfbfb;
